// Importera variabler och navbar-stilar
@import '../styles/variables.scss';
@import '../styles/navbar.scss';

.order-container {
  background-color: $background-color-brown;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $gap;
  padding: 2rem;
  min-height: 100vh;
  text-align: center;

  figure {
    margin: 0;
  }

  h1 {
    color: $text-color-light;
    font-size: $font-size-large;
    margin: 0;
  }

  h3 {
    color: $text-color-light;
    font-size: $font-size-medium;
    margin: 0.5rem 0;
  }

  button {
    width: calc(100% - 2rem);
    max-width: 400px;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #353131;
    font-weight: bold;
    border-radius: $border-radius-medium;
    display: block;
    transition: background-color $transition-speed, color $transition-speed;
  }

  button:first-of-type {
    background-color: #353131;
    color: $text-color-light;
    border: none;

    &:hover {
      background-color: #6e6262;
    }
  }

  button:last-of-type {
    background-color: #605858;
    color: $text-color-light;
    border: 1px white solid;

    &:hover {
      background-color: #7f6f6f;
    }
  }
}